h1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin-top: 177px;
}

h2 {
  font-size: 36px;
  padding-top: 63px;
  margin-top: 0;
  margin-bottom: 63px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

header {
  background-image: url("../image/header_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato, Helvetica, sans-serif;
}

header button {
  background-color: white;
  text-decoration: none;
  cursor: pointer;
  color: #d52047;
  font-size: 14px;
  padding: 17px 53px;
  border: 0;
  border-radius: 6px;
  margin: 39px 0 187px;
}

.LP-container {
  width: 1120px;
  margin: 0 auto;
}

.LP-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: transparent;
  width: 1440px;
  max-width: 100%;
  overflow: hidden;
}

.LP-header-nav .LP-logo {
  font-size: 18px;
}

.LP-header-nav .LP-logo img {
  margin-right: 10px;
}

.LP-header-nav a {
  float: left;
  color: white;
  text-align: center;
  margin-top: 58px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.LP-header-nav a:not(:last-child) {
  padding-right: 22px;
}

.LP-header-nav a:not(.LP-logo):hover {
  font-weight: 700;
}

.LP-header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.LP-header-text p {
  line-height: 36px;
  width: 540px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

main {
  font-family: Lato, Helvetica, sans-serif;
}

.LP-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.LP-card:not(:last-child) {
  margin-right: 30px;
}

.LP-card-content-first, .LP-card-content-second, .LP-card-content-third {
  display: block;
  position: absolute;
  width: 293px;
  height: 198px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  top: 158px;
  right: 25px;
  font-size: 12px;
  line-height: 18px;
}

.LP-card-content-first p:not(.LP-card-h), .LP-card-content-second p:not(.LP-card-h), .LP-card-content-third p:not(.LP-card-h) {
  font-weight: 400;
  margin: 33px 41px 5px 41px;
}

.LP-card-content-first a, .LP-card-content-second a, .LP-card-content-third a {
  margin: 0 20px 25px 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ed4c5c;
}

.LP-card-h {
  margin: 20px 33px 20px 35px;
}

.LP-features-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.LP-tech-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.LP-tech {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
}

.box-first-icon, .box-second-icon, .box-third-icon, .box-fourth-icon {
  position: absolute;
  top: 30px;
}

.LP-features {
  padding-bottom: 230px;
}

.box-first-content {
  text-align: center;
}

.LP-features-bg-color {
  background-color: #fafafa;
}

.LP-app-download {
  background-color: #d52047;
}

.LP-app-download-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.LP-app-download-wrapper .text-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.LP-app-download-wrapper .slider-content {
  margin: 95px 0;
}

@media (min-width: 1440px) {
  header {
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */