$whiteColor: rgb(255, 255, 255);
$blackColor:rgb(0, 0, 0);
$orangeColor: rgb(238, 61, 27);
$roseColor: rgb(213, 32, 71);
$primaryFont: Lato, Helvetica, sans-serif;

h1{
    font-family: $primaryFont;
    font-size: 72px;
    font-weight: 700;
    margin-top: 177px;

}
h2{
    font-size: 36px;
    margin-top: 63px;
    margin-bottom: 63px;
    text-align: center;
}

header {
    background-image: url('../image/header_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $primaryFont;

    button{
        background-color: $whiteColor;
        text-decoration: none;
        cursor: pointer;
        color:$roseColor;
        font-size: 14px;
        padding: 17px 53px;
        border:0;
        border-radius: 6px;
        margin: 39px 0 187px;
    }
}
.LP-container{
    width: 1120px;
    margin: 0 auto;
}
.LP-header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
    width: 1440px;
    max-width: 100%;
    overflow: hidden;
    .LP-logo{
        font-size: 18px;

        img{
            margin-right: 10px;
        }
    }
    a {
        float: left;
        color: $whiteColor;
        text-align: center;
        margin-top: 58px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

    a:not(:last-child) {
        padding-right: 22px;
    }

    a:not(.LP-logo):hover{
        font-weight: 700;
    }
}

    .LP-header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $whiteColor;

        p{
            line-height: 36px;
            width: 540px;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin: 0 auto;
        }
    }

    .LP-card{
        display: flex;
        position: relative;
    }

    .LP-card:not(:last-child){
        margin-right: 30px;
    }


    .LP-card-content-first, .LP-card-content-second, .LP-card-content-third{
        display: block;
        position: absolute;
        width: 293px;
        height: 198px;
        background-color: $whiteColor;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
        top: 158px;
        right: 25px;
        font-size: 12px;
        line-height: 18px;

        p:not(.LP-card-h){
            font-weight: 400;

            margin: 33px 41px 5px 41px;
        }

        a{
            margin: 0 20px 25px 20px;
            font-weight: 700;
            text-decoration: none;
            color:rgb(237, 76, 92);
        }
    }

    .LP-card-h{
        font-size: 18px;
        font-weight: 700;
        margin: 20px 33px 20px 35px;
        text-align: center;
    }

    .LP-features-boxes{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }
    .LP-tech-boxes{
        display: flex;
        flex-direction: row;
    }

    .LP-features{
        // display: flex;
        // justify-content: center;
        // align-content: center;
        // flex-direction: column;
        margin-bottom: 230px;
       
    }

    .LP-features-bg-color{
        background-color: rgb(250, 250, 250);
    }

.box-first-top {
    background-image: url('../image/01.png');
    background-repeat: no-repeat;
}

.box-second-top {
    background-image: url('../image/02.png');
    background-repeat: no-repeat;
}

.box-third-top {
    background-image: url('../image/03.png');
    background-repeat: no-repeat;
}

.box-fourth-top {
    background-image: url('../image/04.png');
    background-repeat: no-repeat;
}


.LP-app-download {
    background-color: $roseColor;
}

@media(min-width:1440px){
    header{
        background-size: cover;
    }
}